---
layout: default
title: "KirovohradJS &middot; Конференция для JS разработчиков в Кировограде"
description: "KirovohradJS - это конференция для JavaScript и NodeJS разработчиков в Кировограде"
keywords: "Кировоград, Kirovohrad, NodeJS, NodeSchool, JavaScript, KirovohradJS, KrJS"
---

{% include navigation.html date="2015_10" %}
{% include header.html date="2015_10" %}
{% include speakers.html date="2015_10" %}
{% include partners.html date="2015_10" %}
{% include schedule.html date="2015_10" %}
{% include place.html date="2015_10" %}
{% include organizers.html date="2015_10" %}
