<section id="footer" class="row footer">
  <div class="large-10 medium-10 small-10 columns text-left friends">
    <ul>
      <li>
        <a href="http://kyivjs.org.ua">KyivJS</a>
      </li>

      <li>
        <a href="http://lvivjs.org.ua">LvivJS</a>
      </li>

      <li>
        <a href="http://odessajs.org">OdessaJS</a>
      </li>

      <li>
        <a href="http://kharkivjs.org">KharkivJS</a>
      </li>
    </ul>
  </div>
  <!-- <div class="large-2 medium-2 small-2 columns text-right social">
    <a href="https://twitter.com/kirovohradjs" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </div> -->
</section>
