{% assign header = site.data[include.date].header %}

<header id="header" class="row header text-center no-selection">
  <div class="container">
    <section>
      <img src="/assets/img/logo.png" alt="">
    </section>
    <section>
      <div class="date">
        <span class="date">{{ header.date }}</span>
        <br/>
        <span class="time">{{ header.time }}</span>
      </div>
      <div class="register">
        <a href="{{ header.register_link }}" target="_blank" class="button transition">Buy a ticket</a>
      </div>
    </section>
  </div>

</header>
