<header class="row header full-width">
  <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered">
    <div class="row">
      <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered text-center">
        <h1 class="title">KirovohradJS</h1>

        <h2 class="description">{{ site.description }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered text-center">
        <a href="#" class="button">Register</a>
      </div>
    </div>
  </div>
</header>
