<div class="navigation hide-for-small" data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="header">
      <a href="#header">Home</a>
    </dd>

    <dd data-magellan-arrival="speakers">
      <a href="#speakers">Speakers</a>
    </dd>

    <dd data-magellan-arrival="partners">
      <a href="#partners">Partners</a>
    </dd>

    <dd data-magellan-arrival="schedule">
      <a href="#schedule">Schedule</a>
    </dd>

    <dd data-magellan-arrival="place">
      <a href="#place">Place</a>
    </dd>

    <dd data-magellan-arrival="organizers">
      <a href="#organizers">Organizers</a>
    </dd>
  </dl>
</div>
