{% assign organizers = site.data[include.date].organizers %}

<a name="organizers"></a>

<section class="row organizers full-width">
  <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns text-center">
    <div class="row title">
      <div class="large-6 medium-8 small-10 large-centered medium-centered small-centered columns text-center">
        <h3>Organizers</h3>
      </div>
    </div>

    <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1">
      {% for organizer in organizers %}
      <li>
        <div class="row photo">
          <div class="large-10 medium-10 small-10 large-centered medium-centered small-centered columns text-center">
            <img class="transition" src="/assets/img/organizers/{{ organizer.photo }}" alt="{{ organizer.name }}"/>
          </div>
        </div>

        <div class="row name">
          <div class="large-10 medium-10 small-10 large-centered medium-centered small-centered columns text-center">
            <span class="name">{{ organizer.name }}</span>
          </div>
        </div>

        <div class="row contacts">
          <div class="large-10 medium-10 small-10 large-centered medium-centered small-centered columns text-center">
            <div class="skype">
              <i class="fa fa-skype"></i>
              <a href="skype:{{ organizer.skype }}?add">{{ organizer.skype }}</a>
            </div>

            <div class="email">
              <i class="fa fa-envelope"></i>
              <a href="mailto:{{ organizer.email }}">{{ organizer.email }}</a>
            </div>

            <div class="mobile">
              <i class="fa fa-mobile-phone"></i>
              <a href="tel:{{ organizer.mobile }}">{{ organizer.mobile }}</a>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
