{% assign organizers = site.data[include.date].organizers %}

<section id="organizers" class="row organizers text-center">
  <div class="title">
    <h3>Organizers</h3>
  </div>

  <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
    {% for organizer in organizers %}
    <li>
      <div class="photo">
        <img class="transition" src="/assets/img/organizers/{{ organizer.photo }}" alt="{{ organizer.name }}"/>
      </div>

      <div class="name">
        <span class="name">{{ organizer.name }}</span>
      </div>

      <div class="contacts">
        <a href="tg://resolve?domain={{ organizer.telegram }}" title="{{ organizer.telegram }}">
          <i class="fab fa-telegram-plane"></i>
        </a>

        <a href="mailto:{{ organizer.email }}" title="{{ organizer.email }}">
          <i class="fa fa-envelope"></i>
        </a>

        <a href="tel:{{ organizer.mobile }}" title="{{ organizer.mobile }}">
          <i class="fas fa-mobile-alt"></i>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
