{% assign gold = site.data[include.date].partners.gold %}
{% assign silver = site.data[include.date].partners.silver %}
{% assign bronze = site.data[include.date].partners.bronze %}

<a name="partners"></a>

<section class="row partners full-width">
  <div class="text-center">
    <h4>Gold</h4>
    {% for partner in gold %}
    {{ partner.logo }}
    {{ partner.link }}
    {% endfor %}

    <h4>Silver</h4>
    {% for partner in silver %}
    {{ partner.logo }}
    {{ partner.link }}
    {% endfor %}

    <h4>Bronze</h4>
    {% for partner in bronze %}
    {{ partner.logo }}
    {{ partner.link }}
    {% endfor %}
  </div>
</section>
