{% assign speakers = site.data[include.date].speakers %}
{% assign become_a_speaker_link = site.data[include.date].become_a_speaker_link %}

<section id="speakers" class="row speakers text-center">
  <div class="title">
    <h3>Speakers</h3>
  </div>

  <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
    {% for speaker in speakers %}
    <li>
      <div class="photo">
        <img class="transition" src="/assets/img/speakers/{{ speaker.photo }}" alt="{{ speaker.name }}"/>
      </div>

      <div class="name">
        <span>{{ speaker.name }}</span>
      </div>

      <div class="speech">
        <span>{{ speaker.title }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>

  <hr/>

  <a href="{{ become_a_speaker_link }}" class="button">Become a speaker</a>
</section>
