/* RESET */
body {
  background: transparent url("/assets/img/header-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  height: auto;
}

/* HELPERS */
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.transition {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/* HEADER */
header.header {
  min-height: 750px;
  max-height: 750px;
  height: 750px;
}

header.header .row.title {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

header.header .row.title h1 {
  font-family: 'Poiret One', cursive;
  font-style: normal;
  font-weight: lighter;
  color: #FFFFFF;
}

header.header .row.title h1.large {
  font-size: 10vh;
}

header.header .row.title h1.small {
  font-size: 6vh;
}

header.header .row.date {
  margin-bottom: 10rem;
}

header.header .row.date span.date, header.header .row.date span.time {
  font-family: 'Poiret One', cursive;
  font-size: 4vh;
  font-style: normal;
  font-weight: lighter;
  color: #B3B3B3;
}

header.header .row.register a.button {
  font-family: 'Poiret One', cursive;
  font-size: 4vh;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
}

header.header .row.register a.button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

/* NAVIGATION */
div.navigation, nav.top-bar, nav.top-bar.expanded .title-area {
  color: #000000;
  background-color: #F7CA18;
  box-shadow: 0 -2px 2px -2px #000000 inset;
}

nav.top-bar li.name a, section.top-bar-section li:not(.has-form) a:not(.button) {
  font-weight: lighter;
  font-size: 12pt;
  background-color: #F7CA18;
  box-shadow: 0 -2px 2px -2px #000000 inset;
  color: #000000;
}

section.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #233D4D;
  color: #FFFFFF;
}

/* ORGANIZERS */
section.organizers {
  background-color: #ECECEC;
}

section.organizers .row.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.organizers .row.title h3 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: #FFFFFF;
}

section.organizers ul {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section.organizers ul .row.photo {
  height: 200px;
  margin-bottom: 0.2rem;
}

section.organizers ul .row.photo img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  border-radius: 0;
  border: 3px solid #DDDDDD;
  max-height: 100%;
}

section.organizers ul .row.photo img:hover {
  -webkit-filter: grayscale(0.2);
  filter: grayscale(0.2);
  border-radius: 100%;
}

section.organizers ul .row.name {
  margin-bottom: 0.2rem;
}

section.organizers ul .row.name span.name {
  font-size: 16pt;
  font-weight: 100;
}

section.organizers ul .row.contacts a {
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 20pt;
  color: #333333;
}

section.organizers ul .row.contacts a:hover {
  color: #000000;
}

/* PARTNERS */
section.partners {
  background-color: #ECECEC;
}

section.partners .row.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.partners .row.title h3 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: #FFFFFF;
}

section.partners ul {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section.partners ul .row.partner {
  height: 100px;
}

section.partners ul .row.partner a img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  max-height: 100%;
}

section.partners ul .row.partner a img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/* PLACE */
section.place {
  background-color: #ECECEC;
}

section.place .row.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.place .row.title h3 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: #FFFFFF;
}

section.place .row.address {
  margin-top: 2rem;
}

section.place .row.address span {
  font-size: 16pt;
  font-weight: 100;
}

section.place .row.date {
  margin-bottom: 2rem;
}

section.place .row.date span {
  font-size: 16pt;
  font-weight: 100;
}

section.place .row.embed {
  padding: 0;
  margin: 0;
}

section.place .row.embed iframe {
  pointer-events: none;
  display: block;
}

/* SCHEDULE */
section.schedule {
  background-color: #ECECEC;
}

section.schedule .row.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.schedule .row.title h3 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* SPEAKERS */
section.speakers {
  background-color: #ECECEC;
}

section.speakers .row.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.speakers .row.title h3 {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: #FFFFFF;
}

section.speakers ul {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section.speakers ul .row.photo {
  height: 200px;
  margin-bottom: 1rem;
}

section.speakers ul .row.photo img {
  border-radius: 100%;
  border: 3px solid #FFFFFF;
  max-height: 100%;
}

section.speakers ul .row.name {
  margin-bottom: 0.3em;
}

section.speakers ul .row.name span {
  font-size: 16pt;
  font-weight: lighter;
}

section.speakers ul .row.speech span {
  font-size: 14pt;
  font-weight: lighter;
  color: #333333;
}
