/* RESET */
body {
  background: transparent url("/assets/img/header-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  height: auto;
}

[class*="block-grid-"] {
  margin: 0;
}

/* HELPERS */
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.transition {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/* HEADER */
header.header {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}

header.header .title {
  margin-top: 20vh;
  margin-bottom: 5vh;
}

header.header .title h1 {
  font-family: 'Poiret One', monospace;
  font-style: normal;
  font-weight: lighter;
  color: #FFFFFF;
}

header.header .title h1.large {
  font-size: 10vh;
}

header.header .title h1.small {
  font-size: 6vh;
}

header.header .date {
  margin-bottom: 20vh;
}

header.header .date span.date, header.header .date span.time {
  font-family: 'Poiret One', monospace;
  font-size: 4vh;
  font-style: normal;
  font-weight: 100;
  color: #B3B3B3;
}

header.header .register a.button {
  font-family: 'Poiret One', monospace;
  font-size: 4vh;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
}

header.header .register a.button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

/* NAVIGATION */
div.navigation, nav.top-bar, nav.top-bar.expanded .title-area {
  color: #FFFFFF;
  background-color: #2A3E41;
  box-shadow: 0 -3px 3px -3px #000000 inset;
}

nav.top-bar li.name a, section.top-bar-section li:not(.has-form) a:not(.button) {
  font-weight: lighter;
  font-size: 12pt;
  background-color: #2A3E41;
  box-shadow: 0 -3px 3px -3px #000000 inset;
  color: #FFFFFF;
}

section.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #000000;
  color: #FFFFFF;
}

/* ORGANIZERS */
section.organizers {
  background-color: #ECECEC;
}

section.organizers .title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.organizers .title h3 {
  font-family: 'Poiret One', monospace;
  text-transform: uppercase;
  color: #FFFFFF;
}

section.organizers ul {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section.organizers ul .photo {
  height: 200px;
  margin-bottom: 0.2rem;
}

section.organizers ul .photo img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  border-radius: 0;
  border: 3px solid #DDDDDD;
  max-height: 100%;
}

section.organizers ul .photo img:hover {
  -webkit-filter: grayscale(0.2);
  filter: grayscale(0.2);
  border-radius: 100%;
}

section.organizers ul .name {
  margin-bottom: 0.2rem;
}

section.organizers ul .name span.name {
  font-size: 16pt;
  font-weight: lighter;
}

section.organizers ul .contacts a {
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 20pt;
  color: #333333;
}

section.organizers ul .contacts a:hover {
  color: #000000;
}

/* PARTNERS */
section.partners {
  background-color: #ECECEC;
}

section.partners .title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.partners .title h3 {
  font-family: 'Poiret One', monospace;
  text-transform: uppercase;
  color: #FFFFFF;
}

section.partners ul {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section.partners ul .partner {
  height: 100px;
}

section.partners ul .partner a img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  max-height: 100%;
}

section.partners ul .partner a img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/* PLACE */
section.place {
  background-color: #ECECEC;
}

section.place .title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.place .title h3 {
  font-family: 'Poiret One', monospace;
  text-transform: uppercase;
  color: #FFFFFF;
}

section.place .address {
  margin-top: 2rem;
}

section.place .address span {
  font-size: 16pt;
  font-weight: lighter;
}

section.place .date {
  margin-bottom: 2rem;
}

section.place .date span {
  font-size: 16pt;
  font-weight: lighter;
}

section.place .embed {
  padding: 0;
  margin: 0;
}

section.place .embed iframe {
  pointer-events: none;
  display: block;
}

/* SCHEDULE */
section.schedule {
  background-color: #ECECEC;
}

section.schedule .title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.schedule .title h3 {
  font-family: 'Poiret One', monospace;
  text-transform: uppercase;
  color: #FFFFFF;
}

section.schedule .schedule {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section.schedule .schedule table {
  background: none;
  border: 0 solid #000000;
  margin: 0 auto;
  width: 100%;
}

section.schedule .schedule table tr {
  border-top: 1px solid #6C7A89;
}

section.schedule .schedule table tr:first-child {
  border-top: 0 solid #6C7A89;
}

section.schedule .schedule table tr:last-child {
  border-bottom: 0 solid #6C7A89;
}

section.schedule .schedule table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: none;
}

section.schedule .schedule table tr td {
  font-weight: lighter;
  font-size: 12pt;
  text-align: center;
}

/* SPEAKERS */
section.speakers {
  background-color: #ECECEC;
}

section.speakers .title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #6C7A89;
  box-shadow: 0 -2px 2px -2px #000000, 0 2px 2px -2px #000000;
}

section.speakers .title h3 {
  font-family: 'Poiret One', monospace;
  text-transform: uppercase;
  color: #FFFFFF;
}

section.speakers ul {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section.speakers ul .photo {
  height: 200px;
  margin-bottom: 1rem;
}

section.speakers ul .photo img {
  border-radius: 0;
  border: 3px solid #DDDDDD;
  max-height: 100%;
}

section.speakers ul .photo img:hover {
  border-radius: 100%;
}

section.speakers ul .name {
  margin-bottom: 0.3em;
}

section.speakers ul .name span {
  font-size: 16pt;
  font-weight: lighter;
}

section.speakers ul .speech span {
  font-size: 12pt;
  font-weight: lighter;
  color: #333333;
}
