/* HELPERS */
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.valign-middle.row {
  display: table;
  width: inherit;
  height: 100%;
}

.valign-middle .valign-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* HEADER */
header.header {
  background: url("/assets/img/header-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 750px;
  max-height: 750px;
  height: 750px;
}

header.header .row.title {
  margin-bottom: 2rem;
}

header.header .row.title h1 {
  font-family: 'Poiret One', cursive;
  font-style: normal;
  font-weight: bolder;
  color: #FFFFFF;
}

header.header .row.title h1.large {
  font-size: 10vh;
}

header.header .row.title h1.small {
  font-size: 6vh;
}

header.header .row.date {
  margin-bottom: 10rem;
}

header.header .row.date span.date {
  font-family: 'Poiret One', cursive;
  font-size: 4vh;
  font-style: normal;
  font-weight: lighter;
  color: #B3B3B3;
}

header.header .row.date span.time {
  font-family: 'Poiret One', cursive;
  font-size: 4vh;
  font-style: normal;
  font-weight: lighter;
  color: #B3B3B3;
}

header.header .row.register a.button {
  font-family: 'Poiret One', cursive;
  font-size: 4vh;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFFFFF;
  border: 5px solid #FFFFFF;
}

header.header .row.register a.button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

/* NAVIGATION */
div.navigation {
  background-color: #000000;
}

div.navigation dd a {
  color: #FFFFFF;
}

/* ORGANIZERS */
section.organizers {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
}

/* PARTNERS */
section.partners {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
}

/* PLACE */
section.place {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
}

/* SCHEDULE */
section.schedule {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
}

/* SPEAKERS */
section.speakers {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
}
